@import url('https://fonts.googleapis.com/css?family=Orbitron');

.App {
  text-align: center;
}

.container {
  background-color: #333;
  border-radius: 1.5rem;
  border: 1px solid #333;
  color: white;
  display: grid;
  grid-template-rows: 2.5rem 4rem 21rem;
  margin: auto;
  padding: 1rem;
  width: 19rem;
}

.controls {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.opp {
  text-align: right;
}
